<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    >

    <title>Sizes</title>

    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/sizes.css') }}"
    >

</head>
<body>

<button id="theme-toggle">🌙 Night</button>

<table>
    <thead>
    <tr>
        <th colspan="4" class="group-header signal">
            Signal
        </th>

        <th colspan="4" class="group-header details">
            Details
        </th>

        <th colspan="4" class="group-header status">
            Status
        </th>
    </tr>

    <tr>
        <th>Date</th>
        <th>Coin</th>
        <th>DOM</th>
        <th>Chart</th>

        <th>Current price</th>
        <th>Distance</th>
        <th>to max.DOM</th>
        <th>to avg.Chart</th>

        <th>First signal</th>
        <th>Last fixation</th>
        <th>Counter</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody id="sizes-table">
    </tbody>

</table>
<script>
    const REPEAT_COUNTER = {{repeat_counter}};
</script>
<script src="{{ url_for('static', filename='js/sizes.js') }}"></script>
</body>
</html>